<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PacmanWeb</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="wrapper">
        <header role="banner">
            <nav class="container">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="PlayGame">Play game</a></li>
                    <li><a asp-controller="Users" asp-action="Index">High score</a></li>
                    <li><a asp-controller="Home" asp-action="Manual">Manual</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; 2018 - PacmanWeb</p>
        </footer>*@
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
